apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: elastic
spec:
  replicas: 1
  selector:
    matchLabels:
      component: kibana
  template:
    metadata:
      labels:
        component: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana:9.2.3
        ports:
        - containerPort: 5601
          name: http
        env:
        - name: ELASTICSEARCH_SERVICE_TOKEN
          value: "AAEAAWVsYXN0aWMva2liYW5hL2tpYmFuYS10b2tlbjpjVjRFVDdJelFnaW1ZZzkyaVN3WlBn"
        volumeMounts:
        - name: kibana-config
          mountPath: /usr/share/kibana/config/kibana.yml
          subPath: kibana.yml
        resources:
          requests:
            memory: "2Gi"
            cpu: "500m"
      volumes:
      - name: kibana-config
        configMap:
          name: kibana-config
