apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: elastic
data:
  kibana.yml: |
    server.name: kibana
    server.host: "0.0.0.0"

    # # Enable HTTPS for Kibana itself
    # server.ssl.enabled: true
    # server.ssl.key: /usr/share/kibana/config/certs/tls.key
    # server.ssl.certificate: /usr/share/kibana/config/certs/tls.crt
    # server.ssl.certificateAuthorities: [ /usr/share/kibana/config/certs/ca.crt ]

    # # Connect to Elasticsearch securely (mTLS) - Uses internal service DNS
    # elasticsearch.hosts: ["https://elasticsearch.default.svc.cluster.local:9200"]
    # elasticsearch.ssl.certificateAuthorities: [ /usr/share/kibana/config/certs/ca.crt ]
    # elasticsearch.ssl.certificate: /usr/share/kibana/config/certs/tls.crt
    # elasticsearch.ssl.key: /usr/share/kibana/config/certs/tls.key
    # elasticsearch.ssl.verificationMode: full
    elasticsearch.serviceAccountToken: ${ELASTICSEARCH_SERVICE_TOKEN}

    # # X-Pack encryption keys
    xpack.encryptedSavedObjects.encryptionKey: 8d07753a919f250419a29b324c8be83f
    xpack.reporting.encryptionKey: 68a4f60684bbe19f21074421fdb9adc6
    xpack.security.encryptionKey: 2ca35b24b8d36228ab1d07c8af060271

    #elasticsearch.hosts: [ "https://elasticsearch.kickb.dev" ]
    elasticsearch.hosts: [ "http://elasticsearch:9200" ]
    
    xpack.fleet.agents.fleet_server.hosts: ["https://fleet-server.kickb.dev"]
    xpack.fleet.agents.elasticsearch.hosts: ["https://elasticsearch.kickb.dev"]
    #xpack.fleet.agents.elasticsearch.hosts: [ "http://elasticsearch.elastic.svc.cluster.local:9200" ]

    # Fleet settings - Uses internal service DNS
    # xpack.fleet.agents.fleet_server.hosts:
    #   - "https://fleet-server:8220"
    #xpack.fleet.agents.elasticsearch.hosts:
    #   - "http://elasticsearch:9200"