apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
  namespace: elastic
data:
  kibana.yml: |
    server.name: kibana
    server.host: "0.0.0.0"

    # # Enable HTTPS for Kibana itself
    # server.ssl.enabled: true
    # server.ssl.key: /usr/share/kibana/config/certs/tls.key
    # server.ssl.certificate: /usr/share/kibana/config/certs/tls.crt
    # server.ssl.certificateAuthorities: [ /usr/share/kibana/config/certs/ca.crt ]

    # # Connect to Elasticsearch securely (mTLS) - Uses internal service DNS
    # elasticsearch.hosts: ["https://elasticsearch.default.svc.cluster.local:9200"]
    # elasticsearch.ssl.certificateAuthorities: [ /usr/share/kibana/config/certs/ca.crt ]
    # elasticsearch.ssl.certificate: /usr/share/kibana/config/certs/tls.crt
    # elasticsearch.ssl.key: /usr/share/kibana/config/certs/tls.key
    # elasticsearch.ssl.verificationMode: full
    # elasticsearch.serviceAccountToken: ${ELASTICSEARCH_SERVICE_TOKEN}

    # # X-Pack encryption keys
    # xpack.encryptedSavedObjects.encryptionKey: c4dc79cec498fbf900819cd4da2e66e7
    # xpack.reporting.encryptionKey: aff00a79bbb5e99ecd19a2e9298cc711
    # xpack.security.encryptionKey: 32f6f8e4a5b4c3d2e1f0a9b8c7d6e5f4

    # Fleet settings - Uses internal service DNS
    # xpack.fleet.agents.fleet_server.hosts:
    #   - "https://fleet-server.default.svc.cluster.local:8220"
    # xpack.fleet.agents.elasticsearch.hosts:
    #   - "https://elasticsearch.default.svc.cluster.local:9200"