apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft
  namespace: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
    spec:
      containers:
        - name: minecraft
          image: itzg/minecraft-server
          ports:
            - containerPort: 25565
          env:
            - name: WHITELIST_FILE
              value: /data/whitelist.json
            - name: EULA
              value: "TRUE"
            - name: VERSION
              value: "1.21.11"
            - name: MEMORY
              value: "16G"
            - name: WHITELIST
              value: "true"

          volumeMounts:
            - name: minecraft-data
              mountPath: /data
      volumes:
        - name: minecraft-data
          persistentVolumeClaim:
            claimName: minecraft-data
