apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: website
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16.10
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: wagtail-postgres-credentials
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-persistent-storage
      volumes:
        - name: postgres-persistent-storage
          persistentVolumeClaim:
            claimName: postgres-data-pvc
