{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags rating_tags static %}

{% block content %}
<div class="container">
  <div class="mb-4">

    {% if page.background_image %}
      {% image page.background_image width-800 as img %}
      <img src="{{ img.url }}" alt="{{ img.alt|default_if_none:"Background Image" }}" class="img-fluid rounded shadow mb-2 float-md-end ms-md-4 mb-3" style="max-width: 40%;">
    {% endif %}

    <h1>{{ page.title }}</h1>

    <p class="text-muted mb-1">
      {% if page.first_published_at %}
        Posted on {{ page.first_published_at|date:"F j, Y" }}<br>
      {% endif %}
      {% if page.last_published_at %}
        Last updated on {{ page.last_published_at|date:"F j, Y, H:i" }}
      {% endif %}
    </p>

    {% if page.author %}
      <p class="fw-semibold text-muted">By {{ page.author }}</p>
    {% endif %}

    {% if page.rating %}
      <div class="rating-icons my-3">
        {{ page.rating|render_rating }}
      </div>
    {% endif %}
  </div>

  <!-- StreamField Blocks -->
  <div class="mt-4 clearfix">
    {% for block in page.body %}
      {% include_block block %}
    {% empty %}
      <p>No content available.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-8tN2iKxpsrdy3umO8I+hJXr3o8/8ufHiCEq0kYF1dB1xJgJcfzovZ0UG1y1FqEEX" crossorigin="anonymous"></script>
{% endblock %}
