apiVersion: v1
kind: Service
metadata:
  name: wagtail-service
  namespace: website
spec:
  type: ClusterIP
  selector:
    app: wagtail
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000