apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch-config
  namespace: elastic
data:
  elasticsearch.yml: |
    cluster.name: "elk-cluster"
    node.name: "${HOSTNAME}"
    network.host: 0.0.0.0
    discovery.type: single-node   

    xpack.security.enabled: true
    xpack.security.enrollment.enabled: true

    # # Transport layer (node-to-node) TLS
    # xpack.security.transport.ssl.enabled: true
    # xpack.security.transport.ssl.verification_mode: certificate
    # xpack.security.transport.ssl.client_authentication: required
    # xpack.security.transport.ssl.key: certs/tls.key
    # xpack.security.transport.ssl.certificate: certs/tls.crt
    # xpack.security.transport.ssl.certificate_authorities: [ certs/ca.crt ]
    # xpack.security.transport.ssl.key_passphrase: strong_password

    # # HTTP layer TLS (external access)
    # xpack.security.http.ssl.enabled: true
    # xpack.security.http.ssl.verification_mode: certificate
    # xpack.security.http.ssl.client_authentication: optional
    # xpack.security.http.ssl.key: certs/tls.key
    # xpack.security.http.ssl.certificate: certs/tls.crt
    # xpack.security.http.ssl.certificate_authorities: [ certs/ca.crt ]
