apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: elastic
spec:
  selector:                
    component: elasticsearch
  ports:
    - port: 9200
      targetPort: 9200
      name: http
    # - port: 9300
    #   targetPort: 9300
    #   name: transport
  type: ClusterIP
