apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: elastic
spec:
  selector:                
    component: elasticsearch
  ports:
    - port: 9200
      targetPort: 9200
      name: http
  type: ClusterIP
