apiVersion: v1
kind: ConfigMap
metadata:
  name: fleet-server-config
  namespace: elastic
data:
  fleet.yml: |
    # Fleet Server configuration
    server:
      host: "0.0.0.0"
      port: 8220

    fleet:
      server:
        enabled: true
        service_token: "AAEAAWVsYXN0aWMvZmxlZXQtc2VydmVyL2ZsZWV0LXNlcnZlci10b2tlbjpndjA1cnZDNlNuU2xwT3lrSWJPNGV3"
        policy_id: "fleet-server-policy"
      enroll:
        enabled: true
        kibana_host: "https://kibana.kickb.dev:443"
        setup: true
        enrollment_token: "TmQ3OVpKc0J2cmRQNnF1RGhBeS06RVk0MXF1VkZBZ21GR2p3bEFvcFVPQQ=="
      url: "https://fleet-server.kickb.dev:8220"